SET QUOTED_IDENTIFIER ON;
SET ANSI_NULLS ON;
DECLARE @UserId NVARCHAR(450);
SELECT @UserId = Id FROM AspNetUsers WHERE FullName = N'Tô Chính Tú' OR Email LIKE 'tuanhfcjk1%';

IF @UserId IS NOT NULL
BEGIN
    SELECT Id INTO #UserBookings FROM Bookings WHERE UserId = @UserId;

    DELETE FROM GuestInsightTags WHERE GuestInsightId IN (SELECT Id FROM GuestInsights WHERE GuestPreferenceId IN (SELECT Id FROM GuestPreferences WHERE BookingId IN (SELECT Id FROM #UserBookings)));
    DELETE FROM GuestTasks WHERE GuestInsightId IN (SELECT Id FROM GuestInsights WHERE GuestPreferenceId IN (SELECT Id FROM GuestPreferences WHERE BookingId IN (SELECT Id FROM #UserBookings)));
    DELETE FROM GuestInsights WHERE GuestPreferenceId IN (SELECT Id FROM GuestPreferences WHERE BookingId IN (SELECT Id FROM #UserBookings));
    
    DELETE FROM GuestPreferences WHERE BookingId IN (SELECT Id FROM #UserBookings);
    
    -- Tables that might not exist in this older schema version
    IF OBJECT_ID('BookingOperationLogs', 'U') IS NOT NULL
        DELETE FROM BookingOperationLogs WHERE BookingId IN (SELECT Id FROM #UserBookings);
    
    IF OBJECT_ID('WebsiteVisitLogs', 'U') IS NOT NULL
        DELETE FROM WebsiteVisitLogs WHERE UserId = @UserId;

    DELETE FROM CommissionTransactions WHERE BookingId IN (SELECT Id FROM #UserBookings);
    DELETE FROM Reviews WHERE BookingId IN (SELECT Id FROM #UserBookings) OR UserId = @UserId;
    
    DELETE FROM Bookings WHERE UserId = @UserId;

    DELETE FROM AspNetUserRoles WHERE UserId = @UserId;
    DELETE FROM AspNetUserClaims WHERE UserId = @UserId;
    DELETE FROM AspNetUserLogins WHERE UserId = @UserId;
    DELETE FROM AspNetUserTokens WHERE UserId = @UserId;
    
    DELETE FROM AspNetUsers WHERE Id = @UserId;

    DROP TABLE #UserBookings;
    PRINT 'User and related records deleted successfully.';
END
ELSE
BEGIN
    PRINT 'User not found.';
END
